.extra
{
/*    float: left;*/
    width: 250px;
    height: 15px;
}

.lowHeader
{
    border-width: thin;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
}

#one
{
    float: left;
    column-width: 150px;
}

#two
{
    column-width: 850px;
}

#three
{
    float: right;
    column-width: 150px;
}

.none
{
    text-decoration: none;
}
.low2HeaderLeft
{
    float: left;
    border-width: thin;
    border-style: solid;
    border-color: lightgray;
    width: 750px;
/*    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;*/
}

#font1
{
    color: black;
    font-size: 20px;
}

.font2
{
    color: black;
    font-size: 15px;
}

.low2HeaderRight
{
    height: 65px;
    float: left;
    border-width: thin;
    border-style: solid;
    border-color: lightgray;
    width: 250px;
    background-color: goldenrod;
/*    padding-top: 10px;
    padding-left: 25px;*/
}

.low3HeaderLeft
{
    height: 500px;
    width: 750px;
    border-width: thin;
    border-style: solid;
    border-color: lightgray;
    float: left;
}

#gap
{
     float: left;
/*    padding-left: 10px;*/
}

.low3HeaderRight1
{
/*    float: left;*/
    height: 200px;
    border-style: solid;
    border-width: thin;
    background-color: azure;
    width: 250px;
    border-color: lightgray;
}

.low3HeaderRight2
{
/*    float: left;*/
    height: 50px;
    border-style: solid;
    border-width: thin;
    background-color: azure;
    width: 250px;
    border-color: lightgray;
}

.low3HeaderRight3
{
/*    float: left;*/
    height: 160px;
    border-style: solid;
    border-width: thin;
    background-color: azure;
    width: 250px;
    border-color: lightgray;
}

#number
{
    color: darkblue;
    font-size: 18px;
    font-family: cursive;
}

.extra1
{
    clear: both;
    height: 20px;
    width: 750px;
}

.lowLastHeader
{
/*    clear: both;*/
/*    float: none;*/
    height: 200px;
    border-style: solid;
    border-width: thin;
    background-color: azure ;
    width: 750px;
    border-color: lightgray;
}